{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog !</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, odit explicabo neque optio obcaecati fugiat atque eaque doloribus aliquid dignissimos quas facilis facere distinctio. Voluptatum deleniti, enim quis, at facilis id magni libero ipsam expedita, officia beatae corporis reiciendis a!</p>
    <p>Fugit quasi eligendi corporis unde et sapiente provident assumenda officiis quia, accusantium reprehenderit aliquam dolorem, voluptatibus odio expedita autem saepe. Cum, ab quos nobis odio illum repellendus numquam velit animi expedita! Eum voluptates sunt iusto, doloremque id enim consequatur molestias.</p>
    <p>Dolorem aperiam dolores illum a repellat error dicta molestias, laudantium, laboriosam eius numquam vero ea blanditiis modi consectetur aliquid alias. Sint autem aperiam ullam eaque facere! Possimus vel porro aspernatur fuga cum ab, illo error ipsum dolores quis vero vitae.</p>
{% endblock %}